h1,
p {
  font-family: Lato;
}

div.iBannerFix {
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: black;
  z-index: 99;
  margin: 5vh 1vw;
  display: flex;
  justify-content: center;
}

button.iBack {
  background-color: #ffffff;
  color: black;
  margin: 0vh 1vw;
  width: 41.984vw;
  height: 7.94vh;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px grey;
  font-size: 1.125rem;
}

button.iNext {
  background-color: #f8c854;
  color: white;
  margin: 0vh 1vw;
  width: 41.984vw;
  height: 7.94vh;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px grey;
  font-size: 1.125rem;
}
